NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBsX-HgUNXszeOZunFBNbKfaNRxRHwQM80
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=internarea-1c6cd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=internarea-1c6cd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=internarea-1c6cd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=513389242059
NEXT_PUBLIC_FIREBASE_APP_ID=1:513389242059:web:a67fa252826af0bb3fdd4e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-JR38XZN5EM